*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #282a57;
    --secondaryColor: #e4e4e4;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
}

.parallax-outer {
    overflow: hidden;
}

.parallax {
    height: 110vh;
    width: 100%;
    position: relative;
}

.parallax img {
    position: absolute;
}


.mountain-3,
.mountain-2,
.mountain-1 {
    width: 100%;
    bottom: 0;
    z-index: 3;
}

.mountain-2 {
    bottom: 20px;
    z-index: 2;
}

.mountain-1 {
    bottom: 40px;
    z-index: 1;
}

.sun {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

.clouds-left {
    left: 0;
    width: 20%;
}

.clouds-right {
    right: 0;
    width: 20%;
}

.clouds-bottom {
    bottom: 0px;
    width: 100%;
}

.stars {
    top: -550px;
    left: 0;
    width: 100%;
}

.copy {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    color: var(--secondaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}

.copy h1 {
    font-size: 10rem;
}

.copy span {
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    padding: 1rem;
    font-weight: 800;
    border-radius: 0.5rem;
    opacity: 0;
}

.about {
    color: var(--secondaryColor);
    padding-left: 10%;
    padding-bottom: 10%;
}

.about h2 {
    color: var(--secondaryColor);
    font-size: 5rem;
}

.about p {
    margin-top: 20px;
    width: 80%;
    font-size: 23px;
    text-align: justify;
}

.links{
    color: var(--secondaryColor);
    padding-left: 10%;
    padding-bottom: 10%;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    max-width: 320px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }

    .column {
      width: 100%;
      display: block;
      background-color: var(--primaryColor);
    }

    .columnlast {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        margin-left: 26%;
        padding: 0 8px;
        max-width: 400px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
      }
    
        .columnlast {
          width: 100%;
          display: block;
          background-color: var(--primaryColor);
        }
    

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        float: center;
      }

      .cardlast {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }

      .container {
        padding: 0 16px;
        background-color: var(--secondaryColor);
        color: var(--secondaryColor);
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
      }
      
      .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
      }

      .name{
        color: black;
        padding: 10px 0;
      }

      .title {
        color: grey;
      }
      
      .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: rgb(255, 255, 255);
        background-color: var(--primaryColor);
        text-align: center;
        cursor: pointer;
        width: 100%;
        margin-bottom: 16px;
        border-radius: 25px;
        transition: all 0.5s ease;
      }
      
      .button:hover {
        background-color: rgb(87, 11, 131);
        color: var(--secondaryColor);
        transition: all 0.5s ease;
      }


      .profileTitle h2{
        margin: 0;
        display: inline-block;
      }

      .github {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 4px;
        color: rgb(255, 255, 255);
        background-color: var(--primaryColor);
        text-align: center;
        align-self: center;
        cursor: pointer;
        width: 14%;
        margin-bottom: 5px;
        border-radius: 25px;
      }
      
      .gitub:hover {
        background-color: rgb(87, 11, 131);
      }


      .row{
        padding-left: 17%;
        margin-bottom: 5%;
      }

      .team {
        color: var(--secondaryColor);
        padding-left: 10%;
        padding-bottom: 5%;
    }
    
    .team h2 {
        color: var(--secondaryColor);
        font-size: 4rem;
    }
    
    .team p {
        margin-top: 20px;
        width: 80%;
    }

    .profile{
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        max-width: 384px;
    }

    .grid{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 90%;
    }

    .linkbutton{
        margin: 1rem;
        padding:1.5rem;
        text-align: left;
        color: inherit;
        text-decoration: none;
        border: 1px solid var(--secondaryColor);
        border-radius: 10px;
        transition: color 0.15s ease, border-color o.15s ease;
        max-width: 300px;
        min-height: 200px;
        transition: all 0.5s ease;
    }

    .linkbutton:hover,
    .linkbutton:focus,
    .linkbutton:active{
        color: rgb(172, 172, 172);
        border-color: rgb(172, 172, 172);
        transition: all 0.5s ease;
    }

    .linkbutton h2{
        margin: 0 0 1rem 0;
        font-size: 2rem;
    }

    .linkbutton p{
        font-size: 1.25rem;
        line-height: 1.5;
    }



.container2{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    background-color: var(--secondaryColor);;
      padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: var(--primaryColor);;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #b61ee9;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: var(--primaryColor);;
    text-decoration: none;
    font-weight: 300;
    color: var(--primaryColor);
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: rgb(81, 81, 81);
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--primaryColor);
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #ffffff;
    background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  
  
  
  